*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}

/* ---gen stuff */
body {
  background-color: #2B8A8C;
}

button {
  background-color: #223037;
  color: white;
  border-radius: 5px;
  border-color: #223037;
}

button:hover {
  cursor: pointer;
}

.page-layout {
 display: flex;
}

/* ---top bar--- */
.header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #F8B736;
  justify-content: space-around;
  align-items: center;
}

.top-button {
  height: 35px;
  width: 200px;
}

.search,
.select {
  background-color: #DDD9C5;
  border-color: #DDD9C5;
  width: 300px;
}

/* Left display area */

.left-side-styling {
  margin: 45px;
  display: flex;
  width: 960px;
  height: 625px;
  flex-direction: column;
}

/* main card styling */

.main-card-layout {
  background-color: #DDD9C5;
  display: flex;
}

.main-card-img {
  height: 350px;
  width: 480px;
}

.main-info-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-card-header {
  display: flex;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
  background-color: #F8B736;
  margin-bottom: 10px;
  height: 60px;
  width: 480px;
}

.main-card-stuff {
  height: 250px;
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.instructions,
.message,
.cost {
  margin: 5px;
}

.instructions-box {
  height: 150px;
  width: 400px;
  overflow: auto;
}

.main-card-buttons {
  width: 480px;
  display: flex;
  justify-content: space-between;
}

.card-buttons {
  margin: 0 30px 5px 30px;
  padding: 5px 30px 5px 30px;
}

/* ---like items cards--- */

.suggestions{
  font-size: 1.75em;
  margin: 20px 0 20px 0;
}

.like-items {
  display: flex;
  justify-content: space-between;
}

.small-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width:  200px;
  height: 270px;
  background-color: #DDD9C5;
}

.small-card-img {
  height: 140px;
  width: 200px;
}

.like-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  background-color: #F8B736;
}

/* ---Right sidebar--- */

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  height: 692px;
  background-color: #DDD9C5;
  margin: 45px 5px 45px 5px;
}

.side-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  height: 60px;
  width: 340px;
  background-color: #F8B736;
  outline: none;
}

.sidebar-select {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  text-align: center;
  border: none;
  outline: none;
  background-color: #DDD9C5;
  margin-top: .4em;
  width: 95%;
  height: 90%
}


.sidebar-select option {
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.sidebar-select option:hover {
  transform: scale(1.05);
}

.sidebar-select option:visited {
  text-decoration: underline;
}

.all-recipes-list {
  font-size: 1.2em;
  align-items: center;
  justify-content: center;
}

/* @media screen and (max-width: 425px) {
    .example class {

    }
} */

/* Hover to change scale and brighter */
/* y-overflow: scroll 